* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

body {
    background: linear-gradient(to right, #fff,#ae79f3);
}

header {
    background: linear-gradient(to right, #fff,#ae79f3);
    padding: 16px 0;
    color: #6352f8;
    display: flex;
    border-bottom: 16px solid linear-gradient(to right, #fff,#ae79f3);
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form {
    background: linear-gradient(to right, #fff,#ae79f3);
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button {
    background-color: #59f172;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #6352f8;
}

#botao-cancelar {
    background-color: red;
}

ol li {
    text-align: center;
    cursor: pointer;
}

.li-lista {
    text-decoration: line-through;
}

