* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #ccc,#ae79f3);
    padding-top: 100px;
    max-width: 960px;
    width: 150%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

form {
    max-width: 960px;
    width: 150%;
    margin-bottom: 56px;
}

form input {
    font-size: 19px;
    background-color: rgb(200, 250, 200);
    border-radius: 50px;
    border: none;
    padding: 8px 8px;
}

form button{
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: rgb(109, 245, 109);
    padding: 8px 8px;
}

header {
    margin-bottom: 40px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

table {
    width: 100%
}

table caption {
    font-size: 20px;
    font-weight: bold;
    text-align: left;

}

table th {
    border-bottom: 2px solid #000;
    font-size: 24px;
    padding: 12px;
    font-weight: bold;
    text-align: center;
}

table td {
    text-align: center;
    background-color: rgb(109, 245, 109);
}
