body {
    background: linear-gradient(to right, #ccc,grey);
}

input {
    max-width:30%;
    background: linear-gradient(to right, #ccc,rgb(177, 176, 176));
}

time {
    display: block;
}

.post {
    margin-bottom: 24px;
}